# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Conda environment files
*.conda
*.env
*.venv
*.egg-info/
.env
env/
venv/
cold-diffusion/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Docker
*.pid
*.tar
*.bak
docker-compose.override.yml

# Pytest
htmlcov/
.coverage
.tox/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# FastAPI static files (if generated)
staticfiles/
